RewriteEngine On

# --- TO ENABLE AUTHORIZATION ---
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Allow CORS preflight requests to be handled properly
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ index.php [QSA,L]

# Check if the requested file or directory actually exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to index.php ONLY if the file does not exist
RewriteCond %{REQUEST_URI} !index\.php$
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]